@use '../abstracts' as abs;
@use '../base';

.advice-generator{
    width: 540px;
    height: fit-content;
    margin-top: 20px;
    padding: 3em;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: relative;
    border-radius: 1em;
    box-shadow: 10px 10px 75px -50px #000;
    box-sizing: border-box;
    background-color: abs.$blue-grey-dark;
    font-family: DM Sans, sans-serif;
    
    @include abs.sm{
        width: 92vw;
        height: fit-content;
        padding: 10vw;
        margin-bottom: 20vw;
    }

    &__heading{
        margin: 0 0;
        font-size: .875em;
        font-weight: 500;
        letter-spacing: .25em;
        color: abs.$green-neon;

        @include abs.sm{
            padding: 2em 0 .75em 0;
            font-size: 3.25vw;
        }
    }

    &__quote{
        margin: .875em 0 1.5em 0;
        display: flex;
        align-items: center;
        font-family: DM Sans, sans-serif;
        font-size: 1.75rem;
        color: abs.$cyan-light;
        font-weight: 700;
        
        @include abs.sm{
            margin-bottom: 1em;
            font-size: 7.5vw;
        }
    }

    &__underline{
        width: 100%;
        height: 1em;
        background-image: url(../images/pattern-divider-desktop.svg);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        margin-bottom: 1.4375em;

        @include abs.sm{
            background-image: url(../images/pattern-divider-mobile.svg);
            margin-bottom: 3em;
            box-sizing: content-box;
        }
    }

    &__button{
        position: absolute;
        width: 4.375em;
        height: 4.375em;
        bottom: -2.25em;
        border: none;
        border-radius: 100vmax;
        background-color: abs.$green-neon;
        background-image: url(../images/icon-dice.svg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 35%;
        cursor: pointer;
        transition: .1s box-shadow;

        &:hover{
            box-shadow: 0px 0px 30px 2px abs.$green-neon;
        }

        @include abs.sm{
            width: 15vw;
            height: 15vw;
            min-width: 4em;
            min-height: 4em;

            &:hover{
                box-shadow: none;
            }
        }
    }
}